* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
    position: static;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    text-align: center;
}

footer {
    text-align: center;
    background: cornsilk;
    position:absolute;
    bottom:0;
    width:100%;
    height:20px;
}

.stats * {
    margin-bottom: 0;
}

.stats h1 {
    margin-top: 0;
}

.stats .lives {
    color: tomato;
}

.stats .smile {
    cursor: pointer;
    font-size: 1.5em;
}

.hints img {
    width: 50px;
    height: 50px;
    cursor: help;
    opacity: 0.7;
    margin: 15px
}

.levels button {
    cursor: pointer;
    padding: 3px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15%;
    background: #fff;
    color: #000;
    text-decoration: none;
}

.help .safe {
    margin-top: 10px;
    width: 117.5px;
    cursor: cell;
    background-color: lightblue;
}

.help .manual {
    border: dashed 1px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 10px;
    width: 105px;
    cursor: pointer;
    background-color: orange;
}

.help .manual:active {
    transform: translateY(4px);
}

.board {
    display: inline-block;
    width: 100%;
}

.board table {
    margin: -50px;
    background: #c0c0c0;
    border: 4px solid black;
    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: #808080;
    border-bottom-color: #808080;
    margin: 30px auto;
    text-align: center;
}

.cell {
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    width: 2em;
    height: 2em;
    margin: 0;
    outline: none;
    background-size: 500%;
    cursor: pointer;
}

td.cell:hover {
    background: #e2e0e0;
}

.shown {
    background: #8b8b8b;
}

/* classes for numbers */

.one {
    color: blue;
}

.two {
    color: green;
}

.three {
    color: red;
}

.four {
    color: purple;
}

.five {
    color: brown;
}

.six {
    color: turquoise;
}

.seven {
    color: black;
}

.eight {
    color: lightgray;
}